extends ../layout

block content
  .header
    .title
      h1 Galvanize Ping Pong
    .user-info
      form.logout(action="/logout", method="post")
        input.logout(type="submit", value="Logout")
  .account-main
    .row
      .play
          button.button(type="button" value="1 Time Play") 1 Time Play
    .row
      .current-games
        .row
          h2 Upcoming Games
        if(data)
          for val in data
            .upcoming 
              button.accept
                = val.opponent
              
    .row
      if(success)
        p You have successfully submitted your game!
