html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0 0;
}

a {
  outline: none;
  color: #00B7FF;
}

h1 {
  color: #e67e22;
  font-size: 56px;
  margin: 0 0;
  padding-bottom: 2vh;
}

h2 {
  margin-top: 3vh;
  margin-bottom: 5vh;
  font-size: 48px;
  color: #2980B9;
}

h2.thirds {
  margin: 0 0;
  margin-bottom: 3vh;
  font-size: 48px;
  color: #2980B9;
}

h3 {
  font-size: 24px;
  color: #3498db;
}

.header {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #34495e;
  border-bottom: 2px solid #3498db;
  height: auto;
  display: inline-block;
  margin: 0 auto;
}

.container {
  background: url(../images/ping-pong.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 90vh;
  width: 100%;
  position: absolute;
}

.row {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.form {
  color: #2980B9;
  margin-top: -5vh;
}


.signup {
  width: 50%;
  padding-top: 2vh;
  margin: 0 auto;
  margin-top: 10vh;
  text-align: center;
  background-color: #2c3e50;
  padding-bottom: 8vh;
  border-radius: 20px;
  border: 2px solid #e67e22;
  box-shadow: 5px 5px 20px #000;
}

.col1 {
  margin-bottom: -2vh;
  display: inline-block;
  width: 35%;
  text-align: left;
  heigh: auto;
}

.col2 {
  display: inline-block;
  width: 50%;
  text-align: left;
  height: auto;
}

input{
  outline: none;
  font-size: 14px;
  padding: 2px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input:focus{
  border: solid 1px #e67e22;
  box-shadow: 0 0 5px 1px #e67e22;
}

input.login {
  margin-top: 3vh;
  margin-bottom: 8vh;
	padding: 8px 15px;
	border-radius: 10px;
  border-color: #2980b9;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
  background-color: #3498DB;
  text-shadow: 0px -2px #2980B9;
}


a.login {
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  background-color: #e67e22;
  text-shadow: 0px -2px #d35400;
}

a:focus {
  border: solid 1px #3498DB;
  box-shadow: 0 0 5px 1px #2980B9;
}

.title {
  width: 60%;
  height: auto;
  text-align: right;
  display: inline-block;
}

form.logout {
  display: inline-block;
}

.main {
  margin: 0 auto;
  margin-top: 10vh;
  width: 80%;
  border-left: 2px solid #3498db;
  border-right: 2px solid #3498db;
  height: auto;
}

.user-info {
  display: inline-block;
  width: 20%;
}

input.logout {
   width: 100%;
   background: none;
   border: none;
   outline: none;
   text-decoration: underline;
   color: white;
   cursor: pointer;
}

.errors {
  color: red;
}

.current-games {
  border: 2px solid #3498db;
  border-radius: 10px;
  height: auto;
  width: 70%;
  margin: 0 auto;
  margin-top: 7vh;
}

.upcoming-games {
  border: 2px solid #3498db;
  border-radius: 10px;
  height: auto;
  width: 70%;
  margin: 0 auto;
  margin-top: 7vh;
}

.play {
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 5vh;

}

.button {
  width: 100%;
  height: 100%;
  background-color: #2980b9;
  border: 2px solid #3498db;
  border-radius: 10px;
  outline: none;
  font-size:56px;
  color: white;
}

.button-third1, .button-third2, .button-third3, .button-third4, .button-third5 {
  display: inline-block;
  width: 30%;
  height: 80%;
  background-color: #2980b9;
  border: 2px solid #3498db;
  border-radius: 10px;
  outline: none;
  font-size:36px;
  color: white;
  margin: 5px 5px;
}

.button:focus, .button-third1:focus, .button-third2:focus, .button-third3:focus , .button-third4:focus, .button-third5:focus{
  background-color: #3498db;
}

.button:hover, .button-third1:hover, .button-third2:hover , .button-third3:hover, .button-third4:hover, .button-third5:hover{
  background-color: #e67e22;
}

button.submit {
  width: 100%;
  height: 100%;
  background-color: #2980b9;
  border: 2px solid #3498db;
  border-radius: 10px;
  outline: none;
  font-size:56px;
  color: white;
}

button.submit:focus {
  background-color: #3498db;
}

button.submit:hover {
  background-color: #e67e22;
}

.upcoming {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 3vh;
  border-bottom: 2px solid orange;
}

.accept {
  display: inline-block;
  width: 20%;
  margin-right: 5%;
  vertical-align: top;
  margin-top: 5vh;
}

.reject {
  display: inline-block;
  width: 20%;
  margin-right: 5%;
  vertical-align: top;
  margin-top: 5vh;
}

.names {
  display: inline-block;
  width: 50%;
}

input.accept{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #2ecc71;
  border-radius: 10px;
  outline: none;
  font-size:22px;
  color: #2ecc71;
}

input.reject {
  width: 100%;
  height: auto%;
  background-color: #fff;
  border: 1px solid #e74c3c;
  border-radius: 10px;
  outline: none;
  font-size:22px;
  color: #e74c3c;
}

input.accept:hover {
  background-color: #2ecc71;
  color: white;
}

input.reject:hover {
  background-color: #e74c3c;
  color: white;
}

input.accept:focus {
  background-color: #2ecc71;
  color: white;
}

input.reject:focus {
  background-color: #e74c3c;
  color: white;
}

.playdiv {
  height: auto;
  width: 30%;
  text-align: right;
  margin-bottom: 5vh;
  font-size: 16px;
  display: inline-block;
}

.playagainst {
  width: 70%;
  height: auto;
  display: inline-block;
  text-align: left;
}

.play-game {
  border: 2px solid orange;
  padding: 5px;
  color: #3498db;
  text-decoration: none;
  margin-right: 5%;
  outline: none;
}

.play-game:hover {
  background-color: #34495e;
  border: none;
}

.play-game:focus {
  border: solid 1px #e67e22;
  box-shadow: 0 0 5px 1px #e67e22;
}

.left {
  width: 40%;
  display: inline-block;
}

.right {
  width: 40%;
  display: inline-block;
  }

.middle {
  display: inline-block;
  width: 10%;
}

.currentgames {
  border: 2px solid #3498db;
  border-radius: 10px;
  height: auto;
  width: 70%;
  margin: 0 auto;
  margin-top: 7vh;
  text-align: center;
}

.win {
  background-color: #2ecc71;
  margin-bottom: 2vh;
  width: 100%;
  font-size: 16px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px;
}

.lose {
  background-color: #e74c3c;
  margin-bottom: 2vh;
  width: 100%;
  font-size: 16px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px;
}

.past-games {
  border: 2px solid #e67e22;
  border-radius: 10px;
  height: auto;
  width: 70%;
  margin: 0 auto;
  margin-top: 7vh;
  text-align: center;

}

.success {
  color: #e67e22;
}

input.finish {
  width: 20%;
  height: 100%;
  background-color: #34495e;
  border: 1px solid #2ecc71;
  border-radius: 10px;
  outline: none;
  font-size:22px;
  color: #fff;
}

input.finish:hover {
  background-color: orange;
  color: #fff;
  border: 1px solid orange;
}
